@model SchoolWIDDetailsModel

<h2 class="h4"><i class="fas fa-school"></i> Məktəb Bölməsi</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CreateScWithID" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <div class="form-group row">
                <label asp-for="SchoolName" class="col-sm-2 col-form-label">Məktəb</label>
                <div class="col-sm-10">
                    <input class="form-control mb-2 mt-2" asp-for="SchoolName">
                    <span asp-validation-for="SchoolName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="School_StartDate" class="col-sm-2 col-form-label">Başlama</label>
                <div class="col-sm-10">
                    <input class="form-control mb-2" asp-for="School_StartDate">
                    <span asp-validation-for="School_StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="School_CompletionDate" class="col-sm-2 col-form-label">Bitirmə</label>
                <div class="col-sm-10">
                    <input class="form-control mb-2" asp-for="School_CompletionDate">
                    <span asp-validation-for="School_CompletionDate" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="ImgUrl">Foto</label>
                <div class="form-group mt-2">
                    <input type="hidden" asp-for="ImgUrl" />
                    <input type="file" name="file1" class="form-control mt-2" />
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="PDFUrl">PDF</label>
                <div class="form-group mt-2">
                    <input type="hidden" asp-for="PDFUrl" />
                    <input type="file" name="file2" class="form-control mt-2" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-outline-primary">Yadda Saxla</button>
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/UserTool.js"></script>
}