@model DrivingLDetailsModel

@section Css
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap5.min.css">
}

<div class="row m-2">
    <h1 class="h3 mt-3"><i class="fas fa-car"></i> Sürücülük Vəsiqəsi</h1>
    <hr />
    <a href="/admin/user/edit/@Model.UserId" class="btn btn-outline-dark btn-sm mr-2">Geri</a>
</div>
<form asp-controller="Admin" asp-action="EditDLUser" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="row">
                <div class="col-md-8">

                    <div class="form-group">
                        <label asp-for="IssuingAuthority">Verən Orqan</label>
                        <input asp-for="IssuingAuthority" class="form-control" />
                        <span asp-validation-for="IssuingAuthority" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DL_SerialNumber">Seriya Nömrəsi</label>
                        <input asp-for="DL_SerialNumber" class="form-control" />
                        <span asp-validation-for="DL_SerialNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate">Verilmə Tarixi</label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExpirationDate">Bitmə Tarixi</label>
                        <input asp-for="ExpirationDate" class="form-control mb-2" />
                        <span asp-validation-for="ExpirationDate" class="text-danger mb-2"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Categories">Kateqoriya</label>
                        <input asp-for="Categories" class="form-control mb-2" />
                        <span asp-validation-for="Categories" class="text-danger mb-2"></span>
                    </div>
                    @foreach (var e in Model.Users)
                    {
                        @if (e.Id == Model.UserId)
                        {
                            <div class="mb-3">
                                <label asp-for="ImgUrl">Foto</label>
                                <div class="form-group mt-2">
                                    <input type="hidden" asp-for="ImgUrl" />
                                    <img src="~/img/@e.Email/@Model.ImgUrl" width="150" alt="Xəta baş verdi" />
                                    <input type="file" name="file1" class="form-control mt-2"/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="PDFUrl">PDF</label>
                                <div class="form-group mt-2">
                                    <input type="hidden" asp-for="PDFUrl" />
                                    <img src="~/img/@e.Email/@Model.PDFUrl" width="150" alt="Xəta baş verdi" />
                                    <input type="file" name="file2" class="form-control mt-2"/>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success mt-2">Yadda Saxla</button>
</form>