<div class="row m-2">
    <h1 class="h3 mt-3"><i class="fas fa-tasks"></i> HR</h1>
    <hr />
    <span>
        <a class="nav-link" href="/admin/createuser"><i class="fas fa-user-plus"></i> Yeni İşçi</a>
        <a class="nav-link" href="/admin/roles"><i class="far fa-id-badge"></i> İcazələr</a>
        <a class="nav-link" href="/admin/timezones"><i class="far fa-calendar-check"></i> Timezones</a>
        <a class="nav-link" href="/admin/penalties"><i class="fas fa-ban"></i> Cərimələr</a>
        <a class="nav-link" href="/admin/penalties/ready"><i class="fas fa-ban"></i> Hazır Cərimələr</a>
        <a class="nav-link" href="/admin/bonus"><i class="fas fa-hand-holding-usd"></i> Bonuslar</a>
        <a class="nav-link" href="/admin/bonus/ready"><i class="fas fa-hand-holding-usd"></i> Hazır Bonuslar</a>
        <a class="nav-link" href="/admin/archives"><i class="far fa-file-archive"></i> Ödəniş Arxivi</a>
        <a class="nav-link" href="/admin/list/socialnetwork"><i class="fas fa-share-alt"></i> Sosial Şəbəkələr</a>
    </span>
</div>